.container {
    width: 384px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid var(--outline, #E6E8EC);
    background: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    position: relative;
    }

    .label {
    color: #000;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 46.875% */
    margin-bottom: 20px;
    }

    .gridWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 -10px;
    }

    .navButton {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 13px;
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    z-index: 1;
}

.left {
    left: 0;
    }

    .right {
    right: 0;
}

    .grid {
    display: grid;
    width: 357px;
    height: 542px;
    row-gap: 18px;
    column-gap: 21px;
    flex-shrink: 0;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .image {
    width: 168px;
    height: 168px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }

    .imageWrapper {
    width: 168px;
    height: 168px;
    display: block;
    }

    .placeholder {
    width: 168px;
    height: 168px;
    background-color: #a4a4a4;
    border-radius: 10px;
}